@model Cookbook.Web.Models.Recipe.CreateRecipeModel

@{
    ViewBag.Title = "Create";
}

<h2>Création de la recette @Model.Name</h2>

@using (Html.BeginForm("Update", "Recipe"))
{
    <div class="row form-group">
        @Html.LabelFor(obj => obj.Name, new { @class = "cotrol-label col-sm-2" })
        @Html.TextBoxFor(obj => obj.Name, new { @class = "form-control col-sm-10" })
        @Html.ValidationMessageFor(obj => obj.Name)
    </div>
    <div class="row form-group">
        @Html.LabelFor(obj => obj.Description, new { @class = "cotrol-label col-sm-2" })
        @Html.TextAreaFor(obj => obj.Description, new { @class = "form-control col-sm-10" })
    </div>
    <div class="row form-group">
        @Html.LabelFor(obj => obj.Level, new { @class = "cotrol-label col-sm-2" })
        @Html.TextBoxFor(obj => obj.Level, new { @class = "form-control col-sm-10", type = "number" })
    </div>
    <div class="row form-group">
        @Html.LabelFor(obj => obj.CountOfPeople, new { @class = "cotrol-label col-sm-2" })
        @Html.TextBoxFor(obj => obj.CountOfPeople, new { @class = "form-control col-sm-10", type = "number" })
    </div>
    <div class="row form-group">
        @Html.LabelFor(obj => obj.TimeToCook, new { @class = "cotrol-label col-sm-2" })
        @Html.TextBoxFor(obj => obj.TimeToCook, new { @class = "form-control col-sm-10", type = "time" })
    </div>

    @Html.HiddenFor(obj => obj.Id)

    <div class="row">
        <div class="col-sm-12">
            <input type="submit" value="Sauvergader" />
        </div>
    </div>
}



