@model IEnumerable<Cookbook.Web.Recipe>


@{
    ViewBag.Title = "Index";
}

<h2>Liste des recettes</h2>

<table>
    <thead>
        <tr>
            <td>#</td>
            <td>Nom</td>
            <td>Description</td>
            <td>Difficulté</td>
            <td>Parts</td>
        </tr>
    </thead>
    <tbody>

        @Html.ActionLink("Créer", "Create", "Recipe", null , null)

        @foreach (var recipe in Model)
        {
        <tr>
            <td>@recipe.Id</td>
            <td>@Html.ActionLink(recipe.Name, "Edit", "Recipe", new { id = recipe.Id }, null)</td>
            <td>@recipe.Description</td>
            <td>@recipe.Level</td>
            <td>@recipe.CountofPeople</td>
            <td>@Html.ActionLink("Supr", "Delete", "Recipe", new { id = recipe.Id }, null)</td>
        </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="5">
                @Model.Count() recette@(Model.Count() > 1 ? "s" : string.Empty)
            </td>
        </tr>
    </tfoot>
</table>

